* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 15px;
  font-family: 'Overpass', sans-serif;
}

body {
  background-color: hsl(216, 12%, 8%);
}

main {
  display: grid;
  place-items: center;
  min-height: 100vh;
  position: relative;
}

.container {
  max-width: 400px;
  background-color: hsl(213, 19%, 18%);
  padding: 2.5rem;
  border-radius: 18px;
}

.title {
  color: white;
  font-weight: 700;
  font-size: 2rem;
  margin-top: 2.5rem;
}

.text {
  margin-top: 1rem;
  line-height: 1.5rem;
}

.text,
.rating__score__point {
  color: hsl(217, 12%, 63%);
}

.rating__score {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 2rem;
}

.rating__icon,
.rating__score__point {
  width: 3.3rem;
  height: 3.3rem;
  border-radius: 50%;
  background-color: hsla(216, 12%, 54%, 0.167);
  display: grid;
  place-items: center;
  transition: all 0.3s;
}

.rating__score__point:hover {
  background-color: hsl(25, 97%, 53%);
  color: white;
  cursor: pointer;
}

.active {
  background-color: hsl(216, 12%, 54%);
  color: white;
  animation: zoom 0.3s;
}

@keyframes zoom {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.rating__submit {
  width: 100%;
  background-color: hsl(25, 97%, 53%);
  color: white;
  padding: 1rem;
  border: none;
  border-radius: 28px;
  margin-top: 2rem;
  letter-spacing: 0.2rem;
  font-weight: 700;
  transition: all 0.3s;
}

.rating__submit:hover {
  background-color: white;
  color: hsl(25, 97%, 53%);
  cursor: pointer;
}

.thanks {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.thanks img {
  margin-top: 2.1rem;
}

.thanks__raiting__result {
  color: hsl(25, 97%, 53%);
  background-color: hsla(216, 12%, 54%, 0.167);
  padding: 0.5rem 1.5rem;
  border-radius: 24px;
  margin-top: 2rem;
}

.thanks__text {
  text-align: center;
}

.popup {
  width: 100%;
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  place-items: center;
  min-height: 100vh;
  background-color: hsl(216, 12%, 8%);
}

@media (max-width: 500px) {
  .container {
    max-width: 90%;
    padding: 2rem;
  }

  .rating__icon,
  .rating__score__point {
    width: 2.8rem;
    height: 2.8rem;
  }
}